<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Venue</h2>
        <hr class="star-primary">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <h3>Arena: Vulcan Arena</h3>
        703 Elizabeth St, Vulcan, AB T0L 2B0 <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.333341162159!2d-113.26061958696957!3d50.39762499104622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371fee6deecb193%3A0xc42cfb9010b8bfd5!2sVulcan%20Town%20Arena!5e0!3m2!1sen!2sca!4v1763402320453!5m2!1sen!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-lg-5 col-lg-offset-1">
        <h3>Hotel: Canalta High River</h3>
        1512 13 Ave SE, High River, AB T1V 2B1<br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2534.0026105139586!2d-113.8452825!3d50.5713156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371954605f985d7%3A0x7bfeb0358dc94a0c!2sCanalta%20High%20River!5e0!3m2!1sen!2sca!4v1763402578542!5m2!1sen!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
