<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Supporters</h3>
          <p>
            <a href="https://adrenalingroup.ca/" target="_blank"><img src="img/supporters_adrenalin.png"></a>&nbsp;&nbsp;<a href="https://www.terrystwigwax.ca/" target="_blank"><img src="img/supporters_terry.png"></a>
          </p>
          <p>
            <a href="https://sunriverhoney.com/" target="_blank"><img src="img/supporters_sunriverhoney.png"></a>&nbsp;&nbsp;<a href="https://routinenaturalbeauty.com" target="_blank"><img src="img/supporters_routine.png"></a>
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Sponsors</h3>
          <p><img src="img/Sponsors.png"></p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Acknowledgement</h3>
          <p>Thank you to the players, parents, coaches, and volunteers whose support and effort make the 2025 Goal Digger Dangle possible. We appreciate the time, effort, and passion each of you brings to the tournament—this event simply wouldn’t happen without you!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          &copy; Goal Digger Dangle 20{{ site.time | date: '%y' }} | All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
