<!-- Contact Section -->
<section id="fundraiser">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Raffle</h2>
        <hr class="star-primary">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h3>Check out prizes you can win</h3>
        <br />
        <a href="https://www.rafflebox.ca/raffle/nmnbcu15-2b" target="_blank"><img src="img/raffleTicket.png"></a>
      </div>
    </div>
  </div>
</section>
