<!-- Contact Section -->
<section id="fundraiser">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h2>Winners</h2>
                                <hr class="star-primary">
                        </div>
                </div>
                <br />
                <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 text-center">
                                <h3>Raffle Ticekts</h3>
                                CostCo Gift Card ($1000): <b>#222</b><br />
                                Keg Gift Card ($200): <b>#139</b><br />
                                Cash ($100): <b>#169</b><br />
                                <br />
                                <small>Winners will be notified individually.</small>
                        </div>
                        <div class="col-lg-5 col-lg-offset-1 text-center">
                                <h3>Congrats!</h3>
                                Player board winner: <b>#47</b><br />
                                Chuck-a-puck (morning): <b>#17</b><br />
                                Chuck-a-puck (afternon): <b>#35</b><br />
                                <br />
                                <small>Thank you for your support!</small>
                        </div>
                </div>
        </div>
</section>
