<!-- Contact Section -->
<section id="fundraiser">
        <div class="container">
                <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 text-center">
                                <h2>Raffle</h2>
                                <hr class="star-primary">
                        </div>
                        <div class="col-lg-5 col-lg-offset-1 text-center">
                                <h2>Coffee</h2>
                                <hr class="star-primary">
                        </div>
                </div>
                <br />
                <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 text-center">
                                <h3>See prizes you can win</h3>
                                Snag your raffle tickets today—buy online<br />
                                <br /><br /><br />
                                <a href="https://www.rafflebox.ca/raffle/nmnbcu15-2b" target="_blank"><img
                                                src="img/raffleTicket.png"></a>
                        </div>
                        <div class="col-lg-5 col-lg-offset-1 text-center">
                                <h3>Freshness in every bean</h3>
                                Find us at the arena and snag a $20 bag<br />
                                <br />
                                <a href="https://www.rafflebox.ca/raffle/nmnbcu15-2b" target="_blank"><img
                                                src="img/coffee.png"></a>
                        </div>
                </div>
        </div>
</section>