<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Schedules</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="img/Game01.png" width="100%"><br />
        <img src="img/Game02.png" width="100%"><br />
        <img src="img/Game03.png" width="100%"><br />
        <img src="img/Game04.png" width="100%">
      </div>
      <div class="col-lg-6">
        <img src="img/Game05.png" width="100%"><br />
        <img src="img/Game06.png" width="100%"><br />
        <img src="img/Game07.png" width="100%"><br />
        <img src="img/Game08.png" width="100%">
      </div>
    </div>
  </div>
</section>
