<!-- Contact Section -->
<section id="standings">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h2>Standings</h2>
                                <hr class="star-primary">
                        </div>
                </div>
                <br />
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h3>Who’s Leading the Tournament</h3>
                                <br /><br />
                                <center><table width="100%">
                                        <tr><td colspan="6"><hr></td></tr>
                                        <tr align="center" valign="middle">
                                                <td width="10%"><b>Rank</b></td>
                                                <td width="30%" align="left"><b>Team</b></td>
                                                <td width="15%"><b>W</b></td>
                                                <td width="15%"><b>T</b></td>
                                                <td width="15%"><b>L</b></td>
                                                <td width="15%"><b>PTS</b></td>
                                        </tr>
                                        <tr><td colspan="6"><hr></td></tr>
                                        <tr align="center" valign="middle">
                                                <td><b>T1</b></td>
                                                <td align="left"><img src="img/Royals_logo.png"> <b>Royals</b></td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>2</td>
                                        </tr>
                                        <tr align="center" valign="middle">
                                                <td><b>T1</b></td>
                                                <td align="left"><img src="img/Warrriors_logo.png"> <b>Warrriors</b></td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>2</td>
                                        </tr>
                                        <tr align="center" valign="middle">
                                                <td><b>T3</b></td>
                                                <td align="left"><img src="img/Flyers_logo.png"> <b>Flyers</b></td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>0</td>
                                        </tr>
                                        
                                        <tr align="center" valign="middle">
                                                <td><b>T3</b></td>
                                                <td align="left"><img src="img/Stealth_logo.png"> <b>Stealth</b></td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>0</td>
                                        </tr>
                                        <tr><td colspan="6"><hr></td></tr>
                                        <tr align="left" valign="middle">
                                                <td colspan="6">
                                                <br />
                                                Legend: W, win (2 pts); T, tie (1 pt); L, loss (0 pts); PTS, points
                                                </td>
                                        </tr>
                                </table></center>
                        </div>
                </div>
        </div>
</section>